<div>
    <div class="trend-movies">
        <mat-card class="game-card" *ngFor="let movie of movies">
            <div class="card-title-container">
                <mat-card-title>{{movie?.title}}</mat-card-title>
            </div>
            <img mat-card-image src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}">
            <mat-card-content>
                <div>{{movie?.overview | slice: 0:80}} ...</div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-mini-fab matTooltip="Add to list of saved Movies" (click)="updateSavedList($event, movie)">
                    <mat-icon class="material-icons-outlined">verified</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>